name: GitHub Release
on:
  push:
    branches: [main]
jobs:
  release:
    name: Create GitHub Release and upload binary
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.16.3

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build binaries
      run: go build ./cmd/openslides

    - name: Create release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Development Build"
        files: |
          openslides
