name: Test
on: [pull_request]
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.17.0

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: go fmt
      run: test -z $(gofmt -l .)

    - name: go vet
      run: go vet ./...

    - name: golint
      run: go install golang.org/x/lint/golint@latest && golint -set_exit_status ./...

    - name: go test
      run: go test -timeout 10s -race ./...
